* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /*font-family: 'Hind Siliguri', sans-serif;*/
    font-family: 'Maitree', serif;
    margin: 0;
    max-width: 700px;
}

hr {
    margin: 10px;
}

/*HEADER*/

header {
    background-color: rgba(33, 35, 56, 0.986);
    color: white;
    text-transform: uppercase;
    text-align: center;
    height: 4em;
}

.code-rev {
    padding: 10px;
}

.below-header {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.below-header h3 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.below-header p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: lighter;
}

.thick {
    border-top: 5px solid black;
    margin-bottom: 5px;
}

.thin  {
    margin-top: 0px;
}

/*FORM*/

form {
    display: block;
}

label {
  display: block;
  flex-grow: 2;
  font-size: 1rem;
  font-weight: 100;
}

fieldset {
    border: none;
}

legend {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 5px 0px 5px 0px;
}

input {
    background-color: rgb(228, 228, 228);
    border: none;
    border-radius: 5px;
    height: 5em;
    margin-top: 3px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px;
}

select {
    background-color: rgb(228, 228, 228);
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 5em;
    margin-top: 3px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    

}

input::placeholder {
    color: #aab0b5;
    text-align: right;
    font-style: italic;
    font-weight: 400;
    font-size: 1.2em;
    font-family: 'Maitree', serif;
}

option {
    font-family: 'Maitree', serif;
}


input:hover,
select:hover,
textarea:hover {
    cursor: pointer;
    transform: translate(3px, 3px);
    box-shadow: -6px -5px 8px 0px rgba(199,203,207,1);
}

.contact-info {
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.state::first{
    color: gray;
}

/*NEWSLETTER SECTION*/

.select-newsletter {
    font-size: 1rem;
    margin: 0px 0px 0px 10px;
    font-weight:lighter;
    padding: 0;
}

.select-format {
    font-size: 1rem;
    margin: 0px 0px 0px 10px;
    font-weight:lighter;
    padding: 18px 0px 0px 0px;
}

.text-area-label {
    padding: 20px;
}

.textarea {
    width: 100%;
    margin-bottom: 100px;
}

#textarea-topics {
    background-color: rgb(238, 238, 238);
    width:100%;
    height: 100px;
    margin: 0px 20px 100px 20px;
    margin-bottom: 100px;
    border: none;
    border-radius: 6px;
    resize: none;
}

div {
    display: flex;
    margin-bottom: 0px;
    
    height: 40px;
    
}

div > input {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

div > label {
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  text-align: center;
    vertical-align: middle;
    line-height: 65px;
    margin-left: 5px;

}



/*SUBMIT*/

button {
    display: flex;
    color: white;
    background-color: rgb(63, 167, 149);
    border-radius: 5px;
    font-size: 1em;
    padding: 10px 100px 10px 100px;
    border: none;
    font-family: 'Maitree', sans-serif;
    font-weight: bold;
}

.button-section {
    display: flex;
    justify-content: center;



}

/*FOOTER*/

footer {
    display: flex;
    justify-content: center;
    margin: 20px 70px 70px 70px;
    font-style: italic;
    color: rgb(163, 163, 163);
    font-size: .8em;
}